.Navbar{
    display: flex;
    justify-content:space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    align-items: center;
}
.navLogo{
    display: flex;
    align-items: center;
    gap: 10px;
    p {
        color: #171717;
        font-size: 38px;
        font-weight: 600;
    }
}
.navmenu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
    li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3px;
        cursor: pointer;
    }
    hr{
        border: none;
        width: 80%;
        height: 3px;
        border-radius: 10px;
        background-color: #FF4141;
    }
}
.navLoginCart{
    display: flex;
    align-items: center;
    gap: 45px;
    button{
        width: 157px;
        height: 58px;
        border: 1px solid #7a7a7a;
        border-radius: 75px;
        color: #515151;
        font-size: 20px;
        font-weight: 500;
        background: white;
        cursor: pointer;
    }
    :active{
        background: #f3f3f3;
    }
}
.cartCountNav{
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}
.navDropdown{
    display: none;
}
@media(max-width: 1280px){
    .Navbar{
        padding:12px 50px;
    }
    .navLog {
        img{
            width: 40px;
        }
       p{
        font-size: 25px;
       }
    }
    .navmenu{
        gap: 30px;
        font-size: 16px;
    }
    .navLoginCart{
        gap: 30px;
        button{
            width: 120px;
            height: 45px;
            font-size: 16px;
        }
    }
    .cartCountNav{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media(max-width:1024px){
    .Navbar{
        padding:12px 30px;
    }
   
    .navmenu{
        gap: 25px;
        font-size: 16px;
    }
    .navLoginCart{
        button{
            width: 80px;
            height: 35px;
            font-size: 14px;
        }
        img{
           width: 30px;

        }
    }
    .cartCountNav{
       width: 18px;
       height: 18px;
    }
}
@media(max-width: 800px){
    .Navbar{
        padding: 10px 0px;
    }
    .navDropdown{
    display: block;
    width: 30px;
    rotate: -90deg;
    transition: 0.5s;
    .open{
       transform: rotate(90deg) ;
    }
    }
    .navmenu{
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 55px;
    }
    .navMenuVisible{
        display: flex;
    }
}
@media(max-width:500px){
    .Navbar{
        width: 8px 0px;
        gap: 0;
    }
    .navLogo{
        transform: scale(0.8);
    }
    .navmenu{
        height: 70px;
        top: 50px;
    }
    .navLoginCart{
        transform: scale(0.8);
    }
}