.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footerLogo {
    display: flex;
    align-items: center;
    gap: 20px;

    p {
        color: #383838;
        font-size: 46px;
        font-weight: 700;
    }
}

.footerLinks {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;

    li {
        cursor: pointer;
    }
}

.socialIcons {
    display: flex;
    gap: 20px;
}

.footerIconsContainer {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}

.copyRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;

    hr {
        width: 80%;
        border: none;
        border-radius: 10px;
        height: 3px;
        background: #c7c7c7;
    }
}

/* Responsive styles */
@media (max-width: 1280px) {
    .footerLogo p {
        font-size: 40px; /* Reduce font size */
    }

    .footerLinks {
        gap: 40px; /* Reduce gap */
        font-size: 18px; /* Adjust font size */
    }

    .copyRight {
        font-size: 18px; /* Adjust font size */
    }
}

@media (max-width: 1024px) {
    .footerLinks {
        flex-wrap: wrap; /* Allow wrapping */
        gap: 30px; /* Further reduce gap */
        justify-content: center;
    }

    .footerLogo p {
        font-size: 36px; /* Reduce size for smaller screens */
    }

    .socialIcons {
        gap: 15px; /* Reduce gap */
    }

    .copyRight hr {
        width: 90%; /* Adjust hr width */
    }
}

@media (max-width: 768px) {
    .footer {
        gap: 30px; /* Reduce overall gap */
    }

    .footerLogo p {
        font-size: 30px; /* Smaller font size */
    }

    .footerLinks {
        gap: 20px; /* Narrower gap */
        font-size: 16px; /* Adjust font size */
    }

    .copyRight {
        font-size: 16px; /* Smaller font size */
    }
}

@media (max-width: 480px) {
    .footerLogo {
        flex-direction: column; /* Stack vertically */
        align-items: center; /* Center align */
        gap: 10px; /* Smaller gap */
    }

    .footerLogo p {
        font-size: 24px; /* Adjust font size */
    }

    .footerLinks {
        gap: 15px; /* Reduce gap */
        font-size: 14px; /* Smaller font size */
        flex-direction: column; /* Stack links vertically */
        align-items: center; /* Center align */
    }

    .socialIcons {
        gap: 10px; /* Reduce gap */
    }

    .copyRight {
        font-size: 14px; /* Smaller font size */
        gap: 20px; /* Reduce gap */
    }

    .copyRight hr {
        width: 95%; /* Adjust hr width */
    }
}
